extends ../layouts/sgame

block append js
	!=script('survey/index')

block append css
	!=style('survey/index')

block content
	if fromController

		p
			a(href="?tab=dev")
				=§('survey.developement.title'/*§Developement survey§*/)
			!=" &nbsp; | &nbsp; "
			a(href="?tab=img")
				=§('survey.image.title'/*§Images survey§*/)
			!=" &nbsp; | &nbsp; "
			a(href="?tab=git")
				=s("To send")
			!=" &nbsp; | &nbsp; "
			a(href="?tab=update", data-confirm=s("Cette opération peut prendre plusieurs minutes."))
				=s("Update")

		case tab
			when "update"
				//- php artisan update
				h2
					=s("Update")
				if empty($output)
					.alert.alert-danger
						=s("Connection or authentification failed")
				else
					pre
						=output

			when "git"
				//- Git status
				h2#to-send
					=s("To send")
				if data
					if empty($data->output)
						.alert.alert-danger
							=s("Connection or authentification failed")
					else
						.alert.alert-success
							=s("Modifications sent")
					if ! empty($data->input)
						h4
							=s("Input")
						pre
							=data->input
					if ! empty($data->output)
						h4
							=s("Output")
						pre
							=data->output
					hr
				!=Form::open('#', 'git-commit')
					pre
						!=Git::checkable($git->status)
					!=Form::textarea('commit-message', '', 'form-control commit-message', s("Description of the modifications"))
					.field
						!=Form::text('git-username', '', 'form-control', s("Username"))
					.field
						!=Form::password('git-password', '', 'form-control', §('user.password'))
					!=Form::submit(s("Send"), 'btn btn-primary')
				!=Form::close()

			when "img"
				//- Design tools
				h2
					=§('survey.image.title'/*§Images survey§*/)
				!=Form::open('#', array('files' => true))
					each files, directory in images
						h3.directory
							=directory ?: '/'
						ul.files
							each data, file in files
								li(class=alt('file odd', 'file even'))
									div.upload
										!=Form::file('image[' . ltrim($directory . '/', '/') . $file . ']', null, 'form-control')
										label.form-control
											!=Form::checkbox('to-be-replaced[' . $data['image'] . ']', 'on', ! empty($data['info']) && !empty($data['info']['to-be-replaced']) ? array('checked' => 'checked') : array())
											=§('survey.replace'/*§To be replaced§*/)
									h4.file
										span.more-btn(style="margin-top: -2px;")
											a.btn.btn-primary(href=("?tab=img-history&img=" . $data['image']))
												=s("Previous versions")
											br
											a.btn.btn-danger(href=("/survey/image/delete?_token=" . csrf_token() . "&delete=" . $data['image']), data-confirm="Vous allez supprimer toutes les version (retina et non retina, JPG, PNG et GIF) de cette image.")
												=s("Supprimer")
										=file
										!=" &nbsp; "
										if empty($data['retina-image'])
											sup.no-retina
												=s("Retina (@2x) manquante")
										else
											sup.retina
												=s("Retina (@2x) OK")
									if $data['missing-image']
										p.no-image
											=§('survey.missing-image'/*§Missing image§*/)
									else
										p.image
											!=image(data['image'], §('survey.preview'/*§Aperçu§*/))

									path = 'public/img/' . $data['image']
									unless $git->statusCompare($path, "nothing to commit, working directory clean")
										a.btn.btn-primary(href=("?tab=git&only=" . urlencode($path)))
											=s("Send")
									unless empty($data['info'])
										ul
											each value, key in data['info']
												if key !== 'to-be-replaced'
													li
														=§('survey.property'/*§:key: :value§*/, array( 'key' => $key, 'value' => $value))
									.cb
				!=Form::close()

			when "img-history"
				//- Design tools
				h2
					=§('survey.image.title'/*§Images survey§*/)
				h3
					=image
				each commit in commits
					pre
						!=commit

			default
				//- Developement tools
				h2
					=§('survey.developement.title'/*§Developement survey§*/)
				p
					=§('survey.error-count'/*§:count error|:count errors§*/, $check->log->error)
					!=" &nbsp; | &nbsp; "
					=§('survey.warning-count'/*§:count warning|:count warnings§*/, $check->log->warning)
					!=" &nbsp; | &nbsp; "
					=§('survey.notice-count'/*§:count notice|:count notices§*/, $check->log->notice)
					!=" &nbsp; | &nbsp; "
					=§('survey.help-count'/*§:count help|:count helps§*/, $check->log->help)
					!=" &nbsp; | &nbsp; "
					a.toggle-next
						=§('survey.display-toggle'/*§Afficher/Masquer les infos détaillées§*/)
				pre.summary
					=check->summary
				pre#check-details.toggleable
					=check->details

	else
		include ../includes/notFound