
mixin searchbar(q, resultsPerPage)
	!=Form::open('/')
		.input-group
			!=Form::text('q', $q, 'form-control', ยง('global.search.placeholder'), false)
			!=Form::hidden('resultsPerPage', $resultsPerPage)
			.input-group-btn
				button.btn.btn-default(type="submit")
					span.glyphicon.glyphicon-search
	!=Form::close()
