
body {
	padding-top: 60px;
}

.square {
	margin-left: -1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#languages {
	float: left;
	margin: 8px 0 0 12px;
	position: relative;
}

.header-option .dropdown-menu {
	float: right;
	margin: 4px 0 0 -156px;
}

a.source {
	color: silver;
	font-size: 0.85em;
}

.header-option {
	margin: 3px 0 -2px;
}

.header-option, .option-panel {
	float: right;
	position: relative;
}

.header-option .glyphicon {
	font-size: 2em;
}

.header-option:hover {
	color: #586999;
}

.option-panel {
	width: 50%;
}

.option-panel form {
	display: none;
	position: relative;
	left: -2px;
	top: 8px;
	overflow: hidden;
}