<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    RewriteRule ^(.*)\.coffee$ $1.js [L]

    RewriteRule ^/?eimg/(.+)$ eimg.php?fichier=$1 [L,QSA]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

Header unset ETag
Header unset X-Powered-By
Header unset Server
ServerSignature Off
Header unset Vary
FileETag none