extends ../layouts/insearch

block content
	params = array('title' => ยง('global.title'))
	h1=ยง('global.wrong-token.title', $params)

	include ../includes/alert
	+alert('danger', 'global.wrong-token.description')
