extends ../layouts/sgame

block content
	params = array('title' => §('global.title'/*§InSearch§*/))
	h1=§('global.wrong-token.title'/*§:title - Session expirée§*/, $params)

	include ../includes/alert
	+alert('danger', 'global.wrong-token.description')
