extends layouts/insearch

block content
	h1
		=ยง('global.delete-result')
		.btn-group
			a.btn.btn-default(href="/")
				=ยง('global.cancel')
			a.btn.btn-danger(href="/delete/confirm/" . $result->id)
				=ยง('global.confirm')

	h3
		=$result->title
	p
		!=$result->resume(2600)
		br
		!=$result->link($result->urlAndLanguage, array('class' => 'source'))