extends layouts/insearch

block content
	h1
		=§('global.delete-result'/*§Supprimer ce résultat§*/)
		.btn-group
			a.btn.btn-default(href="/")
				=§('global.cancel'/*§Annuler§*/)
			a.btn.btn-danger(href="/delete/confirm/" . $result->id)
				=§('global.confirm'/*§Confirmer§*/)

	h3
		=$result->title
	p
		!=$result->resume(2600)
		br
		!=$result->link($result->urlAndLanguage, array('class' => 'source'))