extends layouts/insearch

block content
	h1
		=ยง('global.title')
	if isset($url)
		include includes/alert
		params = array('url' => '<strong>' . $url . '</strong>')
		case state
			when Crawler::NOT_FOUND
				+alert('danger', 'global.url-not-found', $params)
			when Crawler::DUPLICATED
				+alert('warning', 'global.duplicated-content', $params)
			default
				message = 'global.url-' . ($state === Crawler::ADDED ? 'added' : 'updated')
				+alert('success', $message, $params)

	include includes/searchbar
	+searchbar('', $resultsPerPage)