extends layouts/sgame

block title
	params = array('title' => §('user.title'/*§:title - Espace Membre§*/, array('title' => §('global.title'/*§InSearch§*/))))
	=§('user.login.title'/*§:title - Connexion§*/, $params)

block content
	h1
		=§('user.login.title'/*§:title - Connexion§*/, $params)

	include includes/login