extends layouts/insearch

block content
	h1=ยง('user.login.title')

	!=Form::open('/user/login', array('class' => 'login'))
		.input-group
			.input-group-addon
				span.glyphicon.glyphicon-user
			!=Form::text('username', '', 'form-control', ยง('user.login.username'))
		.input-group
			.input-group-addon
				span.glyphicon.glyphicon-lock
			!=Form::password('password', '', 'form-control', ยง('user.login.password'))
		.input-group
			button.btn.btn-default(type="submit")
				=ยง('user.login.connection')
	!=Form::close()