extends layouts/insearch

block title
	params = array('title' => ยง('user.title', array('title' => ยง('global.title'))))
	=ยง('user.login.title', $params)

block content
	h1
		=ยง('user.login.title', $params)

	include includes/login