extends layouts/sgame

block title
	params = array('title' => §('global.title'/*§InSearch§*/))
	=§('global.results.title'/*§:title - Résultats§*/, $params)

block content
	h1
		=§('global.results.count'/*§{0}:title - Aucun résultat|{1}:title - Un résultat|[2,Inf]:title - :count résultats§*/, $nbResults, array('title' => §('global.title'/*§InSearch§*/)))

	include includes/searchbar
	+searchbar($q, $resultsPerPage)

	each result in results
		h3
			.rate
				!=starRate($result->id)
			a.visited(href=$result->url)
				span.glyphicon.glyphicon-eye-open
			=" "
			!=$result->link($result->title)
			if User::current()->isModerator()
				a.remove(href="/delete/" . $result->id, title=§('global.delete-result'/*§Supprimer ce résultat§*/))
					span.glyphicon.glyphicon-trash
		p
			span.badge(title=§('global.popularity'/*§Popularité§*/))
				=result->count
			=" "
			!=result->content
			br
			!=$result->link($result->urlAndLanguage, array('class' => 'source'))

	include includes/pagination