extends layouts/sgame

block title
	params = array('title' => §('user.title'/*§:title - Espace Membre§*/, array('title' => §('global.title'/*§InSearch§*/))))
	=§('user.list.title'/*§:title - Administration des utilisateurs§*/, $params)

block content
	h1
		=§('user.list.title'/*§:title - Administration des utilisateurs§*/, $params)

	table#user-list
		tr
			th.first
				=§('user.email'/*§Adresse e-mail§*/)
			th
				=§('user.contributor'/*§Contributeur§*/)
			th
				=§('user.moderator'/*§Modérateur§*/)
			th
				=§('user.administrator'/*§Administrateur§*/)

		mixin flag(user, role)
			method = 'is' . ucfirst($role)
			haveFlag = $user->{$method}()
			if User::current()->{$method}()
				td
					label
						!=Form::checkbox('role_' . $user->id, $role, $haveFlag ? array("checked" => "checked") : array())
			else
				td
					=$haveFlag ? 'X' : ''

		i = 0
		each user in users
			- $i++
			tr(class=($i & 1 ? 'odd' : 'even'))
				td.first
					=$user->email
				+flag($user, 'contributor')
				+flag($user, 'moderator')
				+flag($user, 'administrator')
